html {
  /* free stock photo from https://unsplash.com/ */
  background: url('../images/bluredBG.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body,
.mywrapper {
  font-family: "Rubik", serif, sans-serif;
}

.toggle-fav {
  font-weight: bolder;
  color: red;
}

.fa-heart {
  cursor: pointer;
}

.title-color {
  color: white;
}

#right-section-bottom {
  margin-top: 30px;
}

.details-header-event {
  text-decoration: none;
  cursor: pointer;
}

.close-modal {
  color: #f7e786;
  float: right;
  font-size: 40px;
  font-weight: bold;
  height: 1%;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.headtitleDetails {
  background-color: #e5f2ff;
  padding-top: 15px;
}

.details-a {
  color: black;
}

.details-a:hover {
  color: rgb(184, 104, 0);
}

.details-a:visited {
  color: brown;
}

.center {
  margin-top: 0px;
}
.image-details {
  /* width: 342px; */
}

#more {
  display: none;
}

#myBtn {
  color: black;
  margin-bottom: 10px;
}
.kwordbox-details {
  display: inline-flex;
  background-color: #C8D7E3;
  border: 1.5px solid #E15119;
  border-radius: 10px;
  margin: 2px 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.db-icon {
  font-size: 2.5rem;
}

.imdb-indi {
  padding-left: 2rem;
}

.tmdb-indi {
  padding-left: 1rem;
}

.padright {
  padding-right: 1rem;
}

h5 {
  font-size: 3em;
}

.info {
}

.info-content {
  padding-left: 1rem;
}

.left-details {
  float: left;
}

.right {
  float: right;
}

.title-details {
  margin-bottom: 2rem;
}

.comp-details {
  width: 50%;
  float: left;
}

.country-details {
  width: 50%;
  float: right;
}

.budget-details {
  width: 50%;
  float: right;
  margin-top: -12px;
}

.cast-list {
}

.movieinfo-details {
  height: 611px;
  overflow: scroll;
  background-color:#C8D7E3 ;
  border: 2px black solid;
  border-radius: 10px;
}

.middle {
  margin-top: 0px !important;
}

div {
  margin-top: 0;
}
.info2-details {
  padding: 1rem;
}

.youtube {
}

img {
  border: 2px solid black;
}

.card-content-details {
  height: 700px;
  overflow: scroll;
}

.video {
}

.responsive-iframe {
}

.box-details {
  border: 3px solid white;
  border-radius: 3px;
}

.test-details {
  background-color: #CCCCCC;
}

.tab-color {
  background-color: #C8D7E3;
}
.info-content-headers-details {
  font-weight: 700;
}

.bottom {
  margin-left: 1rem;
}

.inner-rating {
  font-weight: 600;
  padding-left: 1rem;
}

/* FROM W3C */
.container-iframe {
  position: relative;
  overflow: hidden;
  width: 205%;
  height: 28.5rem;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-top: 4.25rem;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 15px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  margin: auto;
  height: 100%;
}

.back-button-text-details {
  color: black;
  font-weight: 400;
}

.header-name,
.header-character {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.header-name {
  margin-left: -0.75rem;
}
/* from stackoverflow https://stackoverflow.com/questions/41406689/change-the-color-of-tab-text-and-the-underline-in-materialize-framework#:~:text=The%20default%20color%20of%20materialize%20tabs%20are%20pinkish.*/
.tabs .tab a {
  color: black;
  font-weight: bold;
  font-size: 1rem;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color: grey;
  color: black;
} /*Text color on hover*/

.tabs .tab a.active {
  color: black;
  font-weight: bolder;
  font-size: 1.35rem;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color: red;
  
} /*Color of underline*/

.body-color {
  background-color: #CCCCCC;
}

@media screen and (min-width: 450px) {
  .imagesmall-details {
    display: none;
  }

  .backDetails {
    padding-left: 20px;
    margin-bottom: 30px;
  }

  .card {
    height: 610px;
    border: 2px solid black;
    margin-top: 0px;
    /* overflow: scroll; */
  }

  .default-card-content-details {
    height: 549px;
    overflow: scroll;
  }
}

@media screen and (max-width: 450px) {
  .image-details {
    display: none;
  }
  .movieinfo-details {
    background-color: #C8D7E3;
    border: 2px black solid;
    border-radius: 10px;
  }
  .info-content-mobile-details {
    margin-bottom: 1.5rem;
  }

  .box-details {
    margin-left: 100px;
  }

  .backDetails {
    margin-bottom: 30px;
    text-align: center;
  }

  .card-details {
    height: 650px;
  }

  .container-iframe {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
  }

  .default-card-content-details {
    height: 590px;
    overflow: scroll;
  }
  h5 {
    font-size: 2em;
  }
  .imagesmall {
    width: 185px;
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: auto;
    height: 100%;
  }

  .comp-details {
    width: 48%;
    float: left;
  }

  .country-details {
    width: 48%;
    float: right;
  }

  .budget-details {
    width: 48%;
    float: right;
    margin-top: -12px;
  }
}

@media only screen and (min-width: 427px) and (max-width: 769px) {
  .image-details {
    width: 250px;
  }

  .middle {
    width: 60% !important;
  }

  .castright {
    width: 60% !important;
  }

  .compTab {
    padding-left: 2px;
    padding-right: 2px;
  }
  .countTab {
    padding-left: 2px;
    padding-right: 2px;
  }

  .movieinfo-details {
    height: 493px;
    overflow: scroll;
    background-color: #C8D7E3;
    border: 2px black solid;
    border-radius: 10px;
  }
  .container-iframe {
    display: block !important;
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
}










  