.card{
  width: 185px !important;
  margin-left: 22% !important;
  margin-top: 5% !important;
}

.redirect{
  cursor: pointer;
}

/* .btn-floating.halfway-fab {
  right: 10px !important;
  top: 130px !important;
} */

.container {
  margin: 0 auto;
  width: 90%;
}

.move {
  margin-top: 5% !important;
}


@media only screen and (min-width: 400px) and (max-width: 769px) {
  .card{
    margin: 0 !important;
  }
}
